@media screen and (max-width: 495px) {
  .welcome {
    margin-top: -50px;
  }
}

@media screen and (max-width: 400px) {
  .welcome {
    margin-top: -100px;
  }
}

@media screen and (max-width: 360px) {
  .welcome {
    margin-top: -150px;
  }
}

.welcome--img {
  background-image: url("../public/greg-torosiants.jpg");
}

.noise--img {
  background-image: url("../public/noise_1px_12_gray_500.png");
  opacity: .2;
}

@media screen and (max-width: 495px) {
  .welcome-bg-img {
    margin-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .welcome-bg-img {
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .welcome-bg-img {
    margin-top: 150px;
  }
}
